{#include base.html}
{#title}Test{/title}
{#contents}

        <div class="container" style="width:80%; margin-left: 5%">

            <table class="table">

                <tr>
                    <td style="width: 1px;white-space: nowrap">
                        <header>
                            <p>Test</p>
                            <img src="1.jpeg" alt="Motiv">

                        </header>
                    </td>

                    <td>
                        <table class="table">
                            <tr>
                                <th>Test</th>
                                <th>Test</th>
                            </tr>


                        <tr>
                            <td>Test</td>
                            <td>Test</td>

                        </tr>

                        </table>
                    </td>

                </tr>
            </table>
        </div>

{/contents}
{/include}
